.header {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  flex-direction: column;
  font-family: 'Permanent Marker', cursive;
}


.title {
  color: #ffffff;
  text-align: center;
  margin: 10px 0 0 8px;
  margin-left: 8px;
  font-size: 3rem;
  font-weight: 700;
}

@media (min-width: 600px) {
  .title {
    font-size: 5rem;
  }
}